form{
    text-align: center;
    width:100%;
   
}

body {
    font-family: Arial, sans-serif;
    background-image:url("aa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 500;
}
#primelist{
    textalign:center;
}


